html,
body {
    height: 100%;
}

.record-list {
    .record-list-ul {
        position: absolute;
        top: 1rem;
        bottom: 0;
        width: 100%;
        padding-top: 0.2rem;
        .record-list-li {
            background: #fff;
            padding: 0.3rem 0 0 0.58rem;
            .record-list-li-top {
                padding-right: 0.3rem;
                .top-tag {
                    color: #fff;
                    text-align: center;
                    height: 0.34rem;
                    padding: 0 0.22rem;
                    border-radius: 0.06rem;
                    font-size: 0.22rem;
                } //标签4种颜色
                .green {
                    background: #64D1BE;
                }
                .purple {
                    background: #E876D1;
                }
                .orange {
                    background: #FC9D59;
                }
                .blue {
                    background: #689DF6;
                }
                .top-time {
                    color: #999;
                    font-size: 0.28rem;
                }
            }
            .record-list-li-bottom {
                border-bottom: 1px solid #e2e2e2;
                padding: 0.26rem 0.22rem 0.38rem 0;
                p {
                    font-size: 0.3rem;
                    color: #444;
                }
            }
        }
    }
    .record-list-li:last-of-type .record-list-li-bottom {
        border: 0;
    }
}

.record-new {
    font-size: 0.5rem;
    font-weight: normal;
    padding: 0 0.3rem;
    right: 0;
}

.record-none {
    text-align: center;
    position: absolute;
    top: 3rem;
    width: 100%;
    box-sizing: border-box;
    img {
        width: 2rem;
        height: 2rem;
    }
    .record-none-p1 {
        padding-top: 0.8rem;
        text-align: center;
        color: #666;
        font-size: 0.34rem;
    }
    .record-list-new {
        text-align: center;
        p {
            width: 5.92rem;
            height: 0.98rem;
            background: #fff;
            color: #4285f4;
            margin: 1rem auto;
            border: 1px solid #e2e2e2;
            border-radius: 0.13rem;
            span {
                color: #4285f4;
            }
            .span1 {
                font-size: 0.4rem;
                padding-right: 0.2rem;
            }
            .span2 {
                font-size: 0.32rem;
            }
        }
    }
}