.datacenter-entrance-div1 img {
  height: 2.8rem;
  width: 100%;
}

.datacenter-entrance-div2 {
  margin: 0.2rem 0 0 0;
  background: #fff;
  height: 2.15rem;
  box-sizing: border-box;
  position: relative;
}

.datacenter-entrance-div2 .left {
  padding: 0.75rem 0 0 0.45rem;
}

.datacenter-entrance-div2 .left h1 {
  color: #444;
  font-size: 0.36rem;
  padding-bottom: 0.15rem;
}

.datacenter-entrance-div2 .left span {
  font-size: 0.24rem;
  color: #999;
}

.datacenter-entrance-div2 .right {
  position: absolute;
  right: 0.45rem;
}

.statistics1 {
  margin: 0.35rem 0.4rem 0 0.3rem;
}

.statistics1 span {
  color: #333;
  font-size: 0.3rem;
}

.statistics1 .statistics1-right {
  color: #333;
  font-size: 0.2rem;
}

.statistics2 {
  margin: 0.35rem 0.4rem 0 0.3rem;
}

.statistics2 span {
  color: #fff;
}

.statistics2 p {
  color: #fff;
}

.statistics2 .statistics2-top {
  background-image: -moz-linear-gradient(top, #4fe0ff 0%, #4285f4 100%);
  background-image: -webkit-linear-gradient(top, #4fe0ff 0%, #4285f4 100%);
  background-image: -ms-linear-gradient(top, #4fe0ff 0%, #4285f4 100%);
  box-shadow: 0px 0px 13px 0px rgba(66, 133, 244, 0.6);
  border-radius: 0.08rem 0.08rem 0 0;
  padding: 0.56rem 0 0.3rem 0.36rem;
}

.statistics2 .statistics2-top .statistics2-div2 {
  padding-bottom: 0.4rem;
}

.statistics2 .statistics2-top .statistics2-div2 h1 {
  font-size: 0.66rem;
  color: #fff;
  padding-right: 0.05rem;
}

.statistics2 .statistics2-top .statistics2-div2 .span1 {
  font-size: 0.22rem;
}

.statistics2 .statistics2-top .statistics2-div2 .span2 {
  font-size: 0.26rem;
}

.statistics2 .statistics2-top .statistics2-div2 div {
  height: 0.66rem;
}

.statistics2 .statistics2-top .statistics2-div1 {
  padding-bottom: 0.12rem;
}

.statistics2 .statistics2-top .statistics2-div1 .span1 {
  font-size: 0.28rem;
}

.statistics2 .statistics2-top .statistics2-div1 .span2 {
  font-size: 0.3rem;
}

.statistics2 .statistics2-top .statistics2-div1 .p2 {
  padding-left: 1.5rem;
}

.statistics2 .statistics2-bottom {
  height: 0.88rem;
  background: #3c73d0;
  border-radius: 0 0 0.08rem 0.08rem;
}

.statistics2 .statistics2-bottom p {
  padding-left: 0.36rem;
  font-size: 0.28rem;
}

.statistics3 {
  margin-top: 0.5rem;
}

.statistics3 .statistics3-tag {
  border-bottom: 1px solid #f2f5f7;
}

.statistics3 .statistics3-tag span {
  width: 1.2rem;
  color: #999;
  padding-bottom: 0.15rem;
  text-align: center;
}

.statistics3 .statistics3-tag .span1 {
  margin-left: 1.3rem;
}

.statistics3 .statistics3-tag .span2 {
  margin-right: 1.3rem;
}

.statistics3 .statistics3-tag .active {
  color: #4688F1;
  border-bottom: 2px solid #4688f1;
}

.statistics3 .statistics3-box-now {
  margin-top: 0.5rem;
}

.statistics3 .statistics3-box-now .now-top {
  padding: 0.6rem 0.45rem 0.44rem 0.4rem;
}

.statistics3 .statistics3-box-now .now-top h1 {
  color: #444;
  font-size: 0.36rem;
}

.statistics3 .statistics3-box-now .now-top p {
  color: #999;
  font-size: 0.28rem;
}

.statistics3 .statistics3-box-now .now-top p span {
  font-size: 0.3rem;
  color: #ff6766;
}

.statistics3 .statistics3-box-now .now-top p .span2 {
  color: #4285f4;
}

.statistics3 .statistics3-box-now .now1 #now-echart {
  height: 3.26rem;
  margin: 0 0.3rem;
  background: #f4f8ff;
}

.statistics3 .statistics3-box-now .now2 {
  border-top: 1px solid #f2f5f7;
  margin-top: 0.23rem;
  padding-bottom: 0.63rem;
  border-bottom: 1px solid #f2f5f7;
}

.statistics3 .statistics3-box-now .now-datalist {
  padding: 0 0.53rem;
}

.statistics3 .statistics3-box-now .now-datalist .datalist1 p {
  font-size: 0.24rem;
  color: #888;
}

.statistics3 .statistics3-box-now .now-datalist .datalist1 p span {
  font-size: 0.34rem;
  color: #444;
}

.statistics3 .statistics3-box-now .now-datalist .datalist1 .p1 {
  font-size: 0.26rem;
  padding-top: 0.1rem;
}

.statistics3 .statistics3-box-now #now-echart2 {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 auto;
}

.statistics3 .statistics3-box-now .now3-bottom {
  padding: 0.26rem 1rem 1rem 0.5rem;
}

.statistics3 .statistics3-box-now .now3-bottom div .dian {
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background: #FFD4B4;
  margin-right: 0.15rem;
}

.statistics3 .statistics3-box-now .now3-bottom div .dian1 {
  background: #FFA15C;
}

.statistics3 .statistics3-box-now .now3-bottom div div p {
  font-size: 0.28rem;
  color: #888;
  padding-bottom: 0.05rem;
}

.statistics3 .statistics3-box-now .now3-bottom div div p span {
  font-size: 0.34rem;
  color: #444;
}

.detailed1 {
  padding: 0.3rem;
  background: #fff;
  height: 1rem;
  box-sizing: border-box;
}

.detailed1 p {
  font-size: 0.22rem;
  color: #999;
}

.detailed1 p span {
  font-size: 0.3rem;
  color: #333;
}

.detailed2 {
  background: #fff;
  border-top: 1px solid #f2f5f7;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f5f7;
  height: 0.8rem;
}

.detailed2 .detailed2-div1 {
  width: 50%;
  margin: 0.15rem 0;
}

.detailed2 .detailed2-div1 img {
  width: 0.34rem;
  margin-left: 0.1rem;
}

.detailed2 .detailed2-div1:nth-of-type(1) {
  border-right: 1px solid #f2f5f7;
}

.relative {
  position: relative;
  padding: 0;
  top: 1rem;
}

.detailed3 {
  position: absolute;
  top: 1.8rem;
  bottom: 0;
  width: 100%;
}

.detailed3 .detailed3-li {
  margin: 0.3rem;
  background: #fff;
  border-radius: 0.12rem;
}

.detailed3 .detailed3-li .top {
  height: 0.8rem;
  padding: 0 0.3rem;
  border-bottom: 1px solid #f2f5f7;
}

.detailed3 .detailed3-li .top h2 {
  color: #4688f1;
  font-size: 0.3rem;
}

.detailed3 .detailed3-li .middle ul {
  margin: 0 0.3rem;
  padding: 0.3rem 0 0 0;
  border-bottom: 1px solid #f2f5f7;
}

.detailed3 .detailed3-li .middle ul li {
  padding-bottom: 0.3rem;
  font-size: 0.26rem;
  color: #666;
}

.detailed3 .detailed3-li .middle ul li label {
  font-size: 0.28rem;
  color: #666;
}

.detailed3 .detailed3-li .middle ul li p {
  font-size: 0.26rem;
  color: #666;
}

.detailed3 .detailed3-li .middle ul li p span {
  font-size: 0.3rem;
  color: #222;
}

.detailed3 .detailed3-li .bottom {
  padding: 0.17rem 0.3rem 0.36rem 0.3rem;
}

.detailed3 .detailed3-li .bottom p {
  font-size: 0.28rem;
  color: #666;
}

.detailed3 .detailed3-li .bottom div {
  text-align: right;
}

.detailed3 .detailed3-li .bottom div p {
  font-size: 0.22rem;
  color: #666;
}

.detailed3 .detailed3-li .bottom div .p1 {
  padding-bottom: 0.1rem;
}

.detailed3 .detailed3-li .bottom div .p1 span {
  font-size: 0.3rem;
  color: #ffa15c;
}
