html,
body {
    height: 100%
}

#finnalhead {
    .rank-title1 {
        font-size: 0.34rem;
        color: #444;
    }
    .rank-title2 {
        font-size: 0.28rem;
        color: #999;
        padding-left: 0.3rem;
    }
}

section {
    position: absolute;
    top: 1rem;
    bottom: 0;
    width: 100%;
    .rank-top {
        position: absolute;
        top: 0;
        width: 100%;
        margin-bottom: 0.2rem;
        background: #fff;
        height: 0.8rem;
        border-bottom: 1px solid #e2e2e2;
        .rank-top-div1 {
            height: 100%;
            p {
                width: 33.33%;
                text-align: center;
                border-right: 1px solid #e2e2e2;
                height: 0.44rem;
                line-height: 0.44rem;
                font-size: 0.3rem;
                color: #333;
                img {
                    width: 0.28rem;
                    height: 0.16rem;
                    padding-left: 0.1rem;
                }
                .img2 {
                    display: none
                }
            }
            p:last-of-type {
                border: 0;
            }
            p.active {
                color: #4285f4;
                .img1 {
                    display: none
                }
                .img2 {
                    display: inline-block
                }
            }
        }
        .rank-top-div2 {
            background: rgba(247, 247, 247, 1);
            width: 100%;
            position: absolute;
            z-index: 9;
            padding: 0.4rem 0 0.2rem 0.3rem;
            display: none;
            top: 0.81rem;
            li {
                padding: 0 0 0.3rem 0;
            }
        }
    }
    .rank-total {
        position: absolute;
        top: 1rem;
        background: #fff;
        height: 1.4rem;
        width: 100%;
        p {
            font-size: 0.32rem;
            height: 0.48rem;
            line-height: 0.48rem;
            color: #444;
            width: 50%;
            padding-left: 0.44rem;
        }
        p:first-of-type {
            padding-left: 0.3rem;
            border-right: 1px solid #e2e2e2;
        }
    }
    .rank-list {
        position: absolute;
        top: 2.4rem;
        background: #fff;
        width: 100%;
        border-top: 1px solid #e2e2e2;
        bottom: 0;
        overflow: auto;
        ul {
            li {
                height: 0.94rem;
                border-bottom: 1px solid #e2e2e2;
                padding: 0 0.3rem 0 0;
                margin-left: 0.35rem;
                p {
                    img {
                        width: 0.55rem;
                    }
                    .span0 {
                        width: 0.5rem;
                        font-size: 0.34rem;
                        color: #666;
                        padding-right: 0.1rem;
                    }
                    .span1 {
                        font-size: 0.3rem;
                        color: #666;
                    }
                    .span2 {
                        font-size: 0.32rem;
                        color: #666;
                        padding-right: 0.11rem;
                    }
                    .span3 {
                        font-size: 0.28rem;
                        color: #666;
                    }
                }
            }
            .rank-topthree {
                .span2 {
                    color: #FFA15C;
                }
            }
        }
    }
}

.noneTeam {
    text-align: center;
    margin: 2.5rem 0 0 0;
    display: none;
    p {
        font-size: 0.32rem;
        color: #666;
        margin-top: 1.3rem;
    }
    img {
        width: 2.79rem;
        height: 2.42rem;
    }
}