.taskr-li {
	background: #fff;
	margin-bottom: 0.22rem;
}

.taskr-list {
	padding-top: 0.2rem;
}

.taskr-li-top {
	padding: 0.34rem 0.36rem 0.3rem 0.31rem;
	border-bottom: 1px solid #f2f2f2;
}

.taskr-li-top h2 {
	font-size: 0.32rem;
	color: #444;
}

.taskr-li-time {
	color: #999;
	font-size: 0.24rem;
	padding-top: 0.17rem;
}

.taskr-li-top .taskr-li-cont {
	font-size: 0.28rem;
	color: #444;
	padding-top: 0.3rem;
	line-height: 0.4rem;
}

.taskr-li-more p {
	height: 0.74rem;
	text-align: right;
	padding-right: 0.3rem;
}

.taskr-li-more p img {
	width: 0.3rem;
	padding-left: 0.1rem;
}


/*********任务提醒详细**********/

.taskrd-top {
	background: rgb(249, 249, 251);
	padding: 0.3rem;
}

.taskrd-top h1 {
	font-size: 0.32rem;
	color: #333;
	text-align: center;
	padding-bottom: 0.17rem;
}

.taskrd-time {
	text-align: center;
	color: #999;
	font-size: 0.24rem;
	padding-bottom: 0.32rem;
}

.taskrd-title {
	font-size: 0.28rem;
	color: #444;
	line-height: 0.4rem;
}

.taskrd-list {
	margin-top: 0.2rem;
}

.taskrd-li {
	background: #fff;
	padding: 0.35rem 0 0.38rem 0;
	margin-bottom: 0.2rem;
}

.taskrd-li .span1 {
	font-size: 0.32rem;
	color: #333;
	font-weight: bold;
	padding-right: 0.08rem;
}

.taskrd-li img {
	width: 0.25rem;
	height: 0.3rem;
	padding-right: 0.2rem;
}

.taskrd-li .span2 {
	font-size: 0.26rem;
	color: #999;
	margin-right: 0.35rem;
}

.taskrd-li .span3 {
	color: #999;
	font-size: 0.26rem;
	border-left: 1px solid #999;
	padding-left: 0.3rem;
}

.taskrd-li-bottom {
	margin-top: 0.4rem;
}

.taskrd-li-bottom-left p {
	padding-bottom: 0.23rem;
	color: #666;
	font-size: 0.28rem;
}

.taskrd-li-bottom-left .p2 {
	padding: 0;
}

.taskrd-li-bottom-left p label {}

.taskrd-li-bottom-left p span {
	font-size: 0.3rem;
	color: #777;
}

.taskrd-li-bottom-right p {
	width: 1.23rem;
	text-align: center;
	height: 0.55rem;
	line-height: 0.55rem;
	color: #4285F4;
	border: 1px solid #4285F4;
	border-radius: 0.05rem;
	align-self: flex-end;
}
.taskrd-li-yyb{
	padding-bottom: 0;
}
.taskrd-li-yyb .taskrd-li-bottom-left {
	width: 100%;
}

.taskrd-li-yyb .taskrd-li-bottom-left p {
	width: 50%;
	float: left;
}

.taskrd-li .taskrd-li-top,
.taskrd-li .taskrd-li-bottom {
	padding: 0 0.3rem;
}

.taskrd-li-bottom-manager {
	border-top: 1px solid #f2f2f2;
	height: 0.77rem;
	font-size: 0.28rem;
	color: #666;
	padding-left: 0.3rem;
}