.bk-page1-div1 {
  height: 3.14rem;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  padding: 0.6rem 0.3rem 0.6rem 0.4rem;
}

.bk-page1-div1 .money {
  font-size: 0.52rem;
  margin-top: 0.3rem;
  font-weight: bold;
  word-spacing: 2px;
}

.bk-page1-div1 .div1 {
  margin-top: 0.12rem;
  align-items: flex-end;
}

.bk-page1-div1 .div1 .p3 {
  width: 1.8rem;
  height: 0.72rem;
  background: #4285f4;
  border-radius: 0.44rem;
  box-shadow: 0px 2px 4px 0px rgba(66, 133, 244, 0.51);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.bk-page1-div2 {
  margin-top: 0.2rem;
}

.bk-page1-div2 .div2-li {
  margin-bottom: 0.2rem;
  height: 1rem;
  background: #fff;
  box-sizing: border-box;
  padding: 0 0.3rem;
}

.bk-page2-div1 {
  height: 1.8rem;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 0.52rem 0.3rem 0 0.3rem;
}

.bk-page2-div1 .p2 {
  padding-top: 0.2rem;
  text-align: right;
}

.bk-page2-div2 {
  padding: 0 0.3rem;
  background: #fff;
  margin-top: 0.2rem;
}

.bk-page2-div2 .div2-li {
  height: 1rem;
  border-bottom: 1px solid #eee;
}

.bk-page2-div3 {
  margin: 0.28rem 0.48rem 0 0.3rem;
}

.bk-page2-div3 span {
  position: relative;
  top: 0.1rem;
  margin-right: 0.1rem;
}

.bk-page2-div4 {
  position: fixed;
  bottom: 0.6rem;
  width: 6.9rem;
  height: 0.88rem;
  margin: 0 0.3rem;
  text-align: center;
  line-height: 0.88rem;
  background: #4285f4;
  border-radius: 0.44rem;
  font-size: 0.34rem;
  color: #fff;
  font-weight: bold;
}

.bk-page3-div1 {
  padding: 0.6rem 0 0 0;
}

.bk-page3-div1 .p2,
.bk-page3-div1 .p3 {
  padding-top: 0.2rem;
}

.bk-page3-div1 .p3 .span1 {
  background: #4285f4;
  width: 1.4rem;
  height: 0.52rem;
  color: #fff;
  transition: .5s;
  box-sizing: border-box;
}

.bk-page3-div1 .p3 .active {
  background: #fff;
  color: #4285f4;
  border: #4285f4 1px solid;
}

.bk-page3-div2 {
  margin: 1.05rem 1.9rem 0 1.9rem;
}

.bk-page3-div2 input {
  border-bottom: 1px solid #333;
  width: 0.7rem;
  font-size: 0.72rem;
  text-align: center;
  color: #333;
}

.bk-page3-div2 input.active {
  border-bottom: 1px solid #4285F4;
}

.bk-page3-div3 {
  text-align: center;
  margin: 0.6rem 0 0 0;
}

.bk-page4-div1 {
  height: 3.76rem;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
}

.bk-page4-div1 img {
  width: 2.2rem;
  height: 2.2rem;
}

.bk-page4-div1 p {
  margin-top: 0.2rem;
}

.bk-page4-div2 {
  margin-top: 0.2rem;
  background: #fff;
  padding: 0 0.3rem;
}

.bk-page4-div2 .div2-li {
  border-bottom: 1px solid #eee;
  height: 1rem;
  box-sizing: border-box;
}

.bk-page4-div2 .div2-li p {
  font-size: 0.32rem;
  color: #666;
}
