<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>表情包制作</title>
		<link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://assets-cdn.github.com/favicon.ico">
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/html2canvas.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/rem_scaler.js" type="text/javascript" charset="utf-8"></script>
		<script src="../工作内容/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>

	<body>

		<div id="facebox">
			<div class="file-box">上传你的表情
				<input name="files" id="uploaderInput" type="file" accept="image/*" v-on:change="uploaderInput" />
			</div>
			<div class="willcanvas">
				<img :src="imgSrc" />
				<p id="showp" v-bind:style="{fontSize: fontSize + 'px',fontFamily:fontFamily,color:color}">{{message}}</p>
			</div>
			<textarea placeholder="这里输入内容" v-model="message"></textarea>
			<input type="number" placeholder="这里输入字号" v-model="fontSize" />
			<input type="text" placeholder="这里输入字体" v-model="fontFamily" />
			<input type="text" placeholder="这里输入颜色" v-model="color" />
			<input type="submit" name="" id="submit" value="走你吧" v-on:click="go" />
		</div>

	</body>
	<script type="text/javascript">
		var normalImg = "";
		var d = new Date();
		var str = d.getFullYear() + "年" + (d.getMonth() + 1) + "月" + d.getDate() + "日,"
		var app = new Vue({
			el: '#facebox',
			data: {
				picFlag: true,
				message: str,
				imgSrc: normalImg,
				fontSize: null,
				fontFamily: null,
				color: null
			},
			methods: {
				go: function() {
					html2canvas(document.querySelector(".willcanvas")).then(canvas => {
						document.body.appendChild(canvas)
					});
				},
				uploaderInput: function(e) {
					var fileIme = e.target.files[0];
					var fr = new FileReader();
					fr.readAsDataURL(fileIme);
					fr.onload = function() {
						imgSrc = this.result;
						app.$set(app.$data, "imgSrc", imgSrc);
					};
				},
			}
		});

		$(function() {
			$('#showp').mousedown(function(e) {
				var positionDiv = $(this).offset();
				var distenceX = e.pageX - positionDiv.left;
				var distenceY = e.pageY - positionDiv.top;
				console.log(distenceX, distenceY);
				var _this = this;
				$(document).mousemove(function(e) {
					var x = e.pageX - distenceX - $("#facebox").offset().left;
					var y = e.pageY - distenceY - $("#facebox").offset().top;
					if(x < 0) {
						x = 0;
					} else if(x > $(document).width() - $('#showp').outerWidth(true)) {
						x = $(document).width() - $('#showp').outerWidth(true);
					}
					if(y < 0) {
						y = 0;
					} else if(y > $(document).height() - $('#showp').outerHeight(true)) {
						y = $(document).height() - $('#showp').outerHeight(true);
					};
					$('#showp').css({
						'left': x + 'px',
						'top': y + 'px'
					});
				});
				$(document).mouseup(function() {
					$(document).off('mousemove'); //移除鼠标移动事件
				});
				return false;
			});
		});
	</script>

</html>