<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>表情包制作</title>
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://assets-cdn.github.com/favicon.ico">
    <script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/html2canvas.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/rem_scaler.js" type="text/javascript" charset="utf-8"></script>
    <script src="../jquery/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-qrcode.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body>
    <div id="facebox">
        <div class="file-box">上传你的表情
            <input name="files" id="uploaderInput" type="file" accept="image/*" v-on:change="uploaderInput" />
        </div>
        <div class="willcanvas">
            <img :src="imgSrc" />
            <p id="showp"
               v-bind:style="{fontSize: fontSize + 'px',fontFamily:fontFamily,color:color,position:isPosition,background:background}">
                {{message}}</p>
            <!-- <div id="qrcode">
            </div> -->
        </div>
        <textarea placeholder="这里输入内容" v-model="message"></textarea>
        <input type="number" placeholder="这里输入字号" v-model="fontSize" />
        <input type="text" placeholder="这里输入字体" v-model="fontFamily" />
        <input type="text" placeholder="这里输入文字颜色" v-model="color" />
        <input type="text" placeholder="这里输入文字背景颜色" v-model="background" />
        <p>文字是否置于图片上（置于图片上，可以拖动）</p>
        <input type="radio" @click="absolute" name="p">是<input type="radio" @click="isStatic" name="p">否
        <input type="submit" name="" id="submit" value="生成" v-on:click="go" />
    </div>





</body>
<script type="text/javascript">
    //  jQuery(function () {
    //      jQuery('#qrcode').qrcode("http://www.baidu.com");
    //  })

    var normalImg = "img/1.jpg";
    var d = new Date();
    var str = d.getFullYear() + "年" + (d.getMonth() + 1) + "月" + d.getDate() + "日,"
    var app = new Vue({
        el: '#facebox',
        data: {
            picFlag: true,
            message: str,
            imgSrc: normalImg,
            fontSize: null,
            fontFamily: null,
            color: null,
            background: null,
            isPosition: "static"
        },
        methods: {
            go: function () {
                html2canvas(document.querySelector(".willcanvas")).then(canvas => {
                    $("canvas").remove()
                    $(".aimg").remove()

                    document.body.appendChild(canvas);
                    var cav = document.querySelector("canvas");
                    var tempSrc = cav.toDataURL("image/png");
                    var aImg = document.createElement("img");
                    aImg.setAttribute("class", "aimg")
                    aImg.src = tempSrc;
                    document.body.appendChild(aImg);
                    cav.style.display = "none"
                });
            },
            uploaderInput: function (e) {
                var fileIme = e.target.files[0];
                var fr = new FileReader();
                fr.readAsDataURL(fileIme);
                fr.onload = function () {
                    imgSrc = this.result;
                    app.$set(app.$data, "imgSrc", imgSrc);
                };
            },
            absolute: function () {
                isPosition = "absolute";
                app.$set(app.$data, "isPosition", isPosition);
            },
            isStatic: function () {
                isPosition = "static";
                app.$set(app.$data, "isPosition", isPosition);
            }
        }
    });

    $(function () {
        $('#showp').mousedown(function (e) {
            var positionDiv = $(this).offset();
            var distenceX = e.pageX - positionDiv.left;
            var distenceY = e.pageY - positionDiv.top;
            console.log(distenceX, distenceY);
            var _this = this;
            $(document).mousemove(function (e) {
                var x = e.pageX - distenceX - $("#facebox").offset().left;
                var y = e.pageY - distenceY - $("#facebox").offset().top;
                if (x < 0) {
                    x = 0;
                } else if (x > $(document).width() - $('#showp').outerWidth(true)) {
                    x = $(document).width() - $('#showp').outerWidth(true);
                }
                if (y < 0) {
                    y = 0;
                } else if (y > $(document).height() - $('#showp').outerHeight(true)) {
                    y = $(document).height() - $('#showp').outerHeight(true);
                };
                $('#showp').css({
                    'left': x + 'px',
                    'top': y + 'px'
                });
            });
            $(document).mouseup(function () {
                $(document).off('mousemove'); //移除鼠标移动事件
            });
            return false;
        });
    });
</script>





</html>