<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="../css/public.css" />
    <link rel="stylesheet" type="text/css" href="../css/top.css" />
    <link rel="stylesheet" type="text/css" href="css/selectcustomer.css" />
    <script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body style="background:#efeff4">
    <header class="clearfix header headerborder" id="finnalhead">
        <span id="back_id" class="nav_left">
            <img src="../img/top/navback.png" />
        </span>
        <span class="head_title">新建标签</span>
        <span id="updateUserLabel" class="nav_right">完成</span>
    </header>
    <section id="set-label">
    	<h3 class="h3-title">标签名字</h3>
        <div class="newtag-name newtag-name1">
            <div class="label-box label-box1 flex">
	            <div class="nowLabel-arr flex flexwrap">
	            	<span v-for="item in nowData">{{item.strName}}</span>
	            </div>
	            <input class="nowLabel-input" type="text" placeholder="输入标签名字" @keyup.13="setNowData($event)" ref="nowInput"/>
            </div>
        </div>
        <h3 class="h3-title">所有标签</h3>
        <div class="newtag-person newtag-person-noposition">
            <div class="alltag-list flex flexwrap">
                <div class="alltag-li" v-for="item in allData">{{item.strName}}</div>
            </div>
        </div>
    </section>

	<!-- 确认框 -->
	<div id="okBox" class="okBox">
		<div class="content"></div>
		<div class="flex alignc okorcancel">
			<span class="okBox-cancel">取消</span>
			<span class="okBox-ok">确认</span>
		</div>
	</div>
	<!-- 确认框 -->
	<div id="noBox" class="okBox">
		<div class="content"></div>
		<div class="flex alignc okorcancel">
			<span class="noBox-cancel">取消</span>
			<span class="noBox-ok">确认</span>
		</div>
	</div>
	
	<div class="maskAll" id="mask_id" style="display:none"></div>
	
</body>
<script type="text/javascript" src="setLabel.js" prefix="../"></script>

</html>