/* v1.2.5 */
body,textarea,input,option{font-family:'微软雅黑',arial}
body{overflow: hidden;}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,textarea,input,select,form{margin:0}
th,td,ul,ol,textarea,input{padding:0}
img,label,input{vertical-align:middle}
a{text-decoration:none}
textarea,input{outline:none}
textarea{overflow:auto;resize:none}
table{border-collapse:collapse}
li{list-style:none}
img{border:none}
.clear:after{content:'';display:block;clear:both}
.clear{zoom:1}
.fl{float: left;}
.fr{float: right;}



