/* v1.2.5 */

body,
textarea,
input,
option {
	font-family: '微软雅黑', arial
}

body {
	overflow-x: hidden;
	margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
textarea,
input,
select,
form {
	margin: 0
}

th,
td,
ul,
ol,
textarea,
input {
	padding: 0
}

img,
label,
input {
	vertical-align: middle
}

a {
	text-decoration: none
}

a,
input,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button {
	-webkit-appearance: none;
	border-radius: 0;
}

textarea {
	overflow: auto;
	resize: none
}

table {
	border-collapse: collapse
}

li {
	list-style: none
}

img {
	border: none
}

.clear:after {
	content: '';
	display: block;
	clear: both
}

.clear {
	zoom: 1
}

.fl {
	float: left;
}

.fr {
	float: right;
}

html,
.welcome,
body {
	width: 100%;
	height: 100%;
}

.tree {
	width: 100%;
	position: absolute;
	top: 4.75rem;
}

#logo {
	position: absolute;
	bottom: 1.5rem;
}

.tree img {
	width: 101%;
}

.welcome2 {
	padding-top: 1.35rem;
}

.tree3 {
	padding-top: .5rem;
}

#logo img {
	width: 100%;
}

.cloud {
	position: absolute;
	background: url(../img/cloud.png) no-repeat;
	background-size: contain;
}

.cloud:nth-of-type(1) {
	left: 11.6rem;
	top: .75rem;
	width: 3rem;
	height: 1.25rem;
}

.cloud:nth-of-type(3) {
	left: 11.6rem;
	top: 3.75rem;
	width: 2.9rem;
	height: 1rem;
}

.cloud:nth-of-type(2) {
	left: 2.75rem;
	top: 2.5rem;
	width: 2.5rem;
	height: 1.75rem;
}

.tree {
	animation: treeimg 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.welcome2 {
	opacity: 0;
	transform: translateY(2rem);
	-webkit-animation: treeimg1 2s;
	animation: treeimg1 2s;
	animation-fill-mode: forwards;
}

.tree3 {
	opacity: 0;
	transform: translateY(2rem);
	-webkit-animation: treeimg1 2.5s;
	animation: treeimg1 2.5s;
	animation-fill-mode: forwards;
}

.cloud {
	-webkit-animation: cloud 3s 2s infinite alternate linear;
	animation-fill-mode: forwards;
}

.welcome {
	/*transition: .9s;*/
}

.showpage {
	display: none;
}

@-webkit-keyframes treeimg {
	100% {
		opacity: 1;
		-webkit-transform: translateY(-2rem);
	}
}

@-webkit-keyframes treeimg1 {
	100% {
		opacity: 1;
		-webkit-transform: translateY(0rem);
	}
}

@-webkit-keyframes cloud {
	0% {
		-webkit-transform: translateX(0px);
	}
	100% {
		-webkit-transform: translateX(-50px);
	}
}

.tab {
	position: relative;
	height: 8.4rem;
	overflow: hidden;
}

.tab ul {
	width: 500%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: .5s;
	transition: .5s;
}

.tab li {
	height: 100%;
	width: 20%;
	float: left;
}

.tab li img {
	height: 100%;
	width: 100%;
	display: block;
}

.picMask {
	width: 100%;
	position: absolute;
	height: 2rem;
	bottom: 0rem;
	left: 0rem;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0));
}

.picMask p {
	height: 100%;
	color: #fff;
	text-indent: 1rem;
	font-size: .8rem;
	line-height: 2rem;
}

.picMask nav {
	position: absolute;
	right: .7rem;
	top: 40%;
}

.picMask nav span {
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 15px;
	border-radius: 50%;
	background: #fff;
	opacity: .5;
}

.picMask nav .active {
	opacity: 1;
}

.score {
	padding-left: .6rem;
	padding-bottom: .6rem;
}

.score h3,
.tag h3 {
	font-size: .9rem;
	font-weight: normal;
	margin: 0;
	padding: .8rem 0;
	color: #333;
}

.score li {
	height: 1.5rem;
	/*line-height: 1.5rem;*/
	font-size: .7rem;
	width: 100%;
}

.score li label {
	color: #666;
	float: left;
	line-height: 1.1rem;
}

.score li span {
	margin-left: 1rem;
	float: left;
}

.score li span a {
	width: 1rem;
	height: 1rem;
	background-image: url(../img/star.png);
	background-repeat: no-repeat;
	background-size: 2rem 1rem;
	background-position: -1rem 0;
	margin-right: 1rem;
	display: inline-block;
	transition: .3s;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-modify: read-only;
}

.tag {
	padding-left: .6rem;
	display: block;
	border-top: 1px solid #fbfbfb;
}

.tag input {
	display: none;
}

.tag li {
	float: left;
	padding: .3rem .5rem;
	border: 1px solid #f1f1f1;
	-webkit-border-radius: 20%;
	border-radius: 20%;
	font-size: .7rem;
	margin-right: .4rem;
	margin-bottom: .8rem;
}

.tag li.active {
	background: #3c9bbb;
	border: 1px solid #3c9bbb;
	color: #fff;
}

#submit {
	width: 15rem;
	height: 1.95rem;
	color: #fff;
	border: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: .9rem;
	display: block;
	background: #3c9bbb;
	margin: 3rem 0 .5rem 0;
	text-align: center;
	line-height: 1.95rem;
	letter-spacing: 8px
}
