.rank-nav {
	height: 1rem;
	box-sizing: border-box;
	padding-top: 0.4rem;
	background: #fff;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	width: 7.5rem;
}

.rank-nav ul {
	margin-left: 0.3rem;
}

.rank-nav li {
	font-size: 0.3rem;
	color: #999;
	margin-right: 0.5rem;
	white-space: nowrap;
	padding-bottom: 0.1rem;
}

.rank-nav li.active {
	color: #4688F1;
	border-bottom: 1px solid #4688F1;
}

.rank-list {
	margin-top: 0.4rem;
}

.rank-list .list-li {
	background: #fff;
	margin: 0 0.3rem 0.4rem 0.3rem;
	padding: 0.25rem 0.2rem 0.2rem 0.2rem;
}

.rank-list .list-li .list-li-a {}

.rank-list .list-li .list-li-a h3 {
	color: #444;
	font-size: 0.3rem;
}

.rank-list .list-li .list-li-a span {
	color: #444;
	font-size: 0.24rem;
}

.rank-list .list-li img {
	margin-top: 0.2rem;
	width: 6.52rem;
	height: 2.28rem;
}