#school-swiper {
    width: 7.5rem;
    height: 3.2rem;
    margin-top: 1rem;
}

.school1-div1 {
    margin-top: 0.2rem;
    background: #fff;
    padding: 0 0.3rem;
    width: 7.5rem;
    box-sizing: border-box;
    .school1-h2 {
        height: 0.87rem;
        span {
            color: #666;
            font-size: 0.32rem;
        }
    }
    .school1-downloadlist {
        .list-li {
            padding: 0.12rem 0;
            .li-img {
                width: 1.3rem;
                height: 1.3rem;
            }
        }
        .li-div {
            margin-left: 0.56rem;
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 0.2rem;
            .li-div-a {
                width: 4.3rem;
                p {
                    padding-top: 0.1rem;
                    font-size: 0.32rem;
                    color: #444;
                    line-height: 1.1em;
                    max-height: 2.2em;
                    overflow: hidden;
                }
                span {
                    padding-top: 0.39rem;
                    color: #999;
                    font-size: 0.28rem;
                }
            }
            img {
                width: 0.32rem;
                height: 0.32rem;
                margin-top: 0.47rem;
            }
        }
    }
}

.school1-div2 {
    ul {
        margin-top: 0.2rem;
        li {
            background: #fff;
            padding: 0.34rem 0.3rem;
            margin-bottom: 0.2rem;
            .span1 {
                color: #666;
                font-size: 0.32rem;
                .span2 {
                    font-size: 0.2rem;
                    color: #999;
                    margin-top: 0.1rem;
                }
            }
            img {
                height: 0.24rem;
            }
        }
        .li1 {
            padding: 0.2rem 0.3rem;
        }
    }
}

.mydownload {
    margin-top: 1.2rem;
}

.studynav {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    background: #fff;
    height: 0.8rem;
    ul {
        height: 100%;
        li {
            padding: 0.26rem 0.4rem 0 0.4rem;
            font-size: 0.3rem;
            background-size: 1px 0.3rem;
            height: 100%;
            box-sizing: border-box;
            span {
                display: block;
                height: 90%
            }
        }
        li:first-of-type {
            background-image: url(../img/shu.png);
            background-repeat: no-repeat;
            background-position: center right;
        }
        .active {
            color: #4285f4;
            border-bottom: 1px solid #4285f4
        }
    }
}

.xq-title {
    padding: 0.3rem;
    h2 {
        font-size: 0.34rem;
        color: #444;
        max-width: 5.8rem;
    }
    span {
        font-size: 0.3rem;
        color: #666;
    }
}

.xq-show {
    padding: 0.3rem;
}