html,
body {
	height: 100%
}

#school-swiper {
	width: 7.5rem;
	height: 3.2rem;
	margin-top: 1rem;
}

.school1-div1 {
	margin-top: 0.2rem;
	background: #fff;
	padding: 0 0.3rem;
	width: 7.5rem;
	box-sizing: border-box;
	position: absolute;
	top: 1.8rem;
	overflow: auto;
	bottom: 0;
}

.school1-div1 .school1-h2 {
	height: 0.87rem;
}

.school1-div1 .school1-h2 span {
	color: #666;
	font-size: 0.32rem;
}

.school1-div1 .school1-downloadlist .list-li {
	padding: 0.12rem 0;
	position: relative;
}

.school1-div1 .school1-downloadlist .list-li .loading {
	width: 1.3rem;
	height: 1.3rem;
	position: absolute;
}

.school1-div1 .school1-downloadlist .list-li .loading span {
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	display: block;
	height: 100%;
}

.school1-div1 .school1-downloadlist .list-li .li-img {
	width: 1.3rem;
	height: 1.3rem;
}

.school1-div1 .school1-downloadlist .li-div {
	margin-left: 0.56rem;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 0.2rem;
}

.school1-div1 .school1-downloadlist .li-div .li-div-a {
	width: 4.3rem;
}

.school1-div1 .school1-downloadlist .li-div .li-div-a p {
	padding-top: 0.1rem;
	font-size: 0.32rem;
	color: #444;
	line-height: 1.1em;
	max-height: 2.2em;
	overflow: hidden;
}

.school1-div1 .school1-downloadlist .li-div .li-div-a span {
	padding-top: 0.39rem;
	color: #999;
	font-size: 0.28rem;
}

.school1-div1 .school1-downloadlist .li-div img {
	width: 0.32rem;
	height: 0.32rem;
}

.school1-div2 ul {
	margin-top: 0.2rem;
}

.school1-div2 ul li {
	background: #fff;
	padding: 0.34rem 0.3rem;
	margin-bottom: 0.2rem;
}

.school1-div2 ul li .span1 {
	color: #666;
	font-size: 0.32rem;
}

.school1-div2 ul li .span1 .span2 {
	font-size: 0.2rem;
	color: #999;
	margin-top: 0.1rem;
}

.school1-div2 ul li img {
	height: 0.24rem;
}

.school1-div2 ul .li1 {
	padding: 0.2rem 0.3rem;
}

.mydownload {
	margin-top: 0.2rem;
	top: 1rem
}

.studynav {
	position: fixed;
	overflow-y: hidden;
	overflow-x: auto;
	background: #fff;
	height: 0.8rem;
	z-index: 2;
	width: 7.5rem;
	box-sizing: border-box;
}

.studynav ul {
	height: 100%;
}

.studynav ul li {
	padding: 0.26rem 0.4rem 0 0.4rem;
	font-size: 0.3rem;
	background-size: 1px 0.3rem;
	height: 100%;
	box-sizing: border-box;
	white-space: nowrap;
}

.studynav ul li span {
	display: block;
	height: 90%;
}

.studynav ul li:first-of-type {
	background-image: url(../../img/dafyCollge/shu.png);
	background-repeat: no-repeat;
	background-position: center right;
}

.studynav ul .active {
	color: #4285f4;
	border-bottom: 1px solid #4285f4;
}

.xq-title {
	padding: 0.3rem;
}

.xq-title h2 {
	font-size: 0.34rem;
	color: #444;
	max-width: 5.8rem;
}

.xq-title span {
	font-size: 0.3rem;
	color: #666;
}

.xq-show {
	padding: 0.3rem;
}

.school1-div1-noposition {
	position: static;
}

#school-swiper img {
	width: 7.5rem;
	height: 3.2rem;
}

#school-swiper p {
	position: absolute;
	bottom: 0;
	width: 7.5rem;
	height: 0.6rem;
	color: #fff;
	font-size: 0.28rem;
	background: rgba(9, 19, 43, 0.65);
}

#school-swiper p span {
	padding: 0 0 0 0.3rem;
}

.swiper-pagination {
	text-align: right;
}

.swiper-pagination-bullet {
	width: 14px;
	height: 3px;
	background: rgba(255, 255, 255, 1);
	opacity: 0.2;
	border-radius: 2px
}

.swiper-pagination-bullet-active {
	opacity: 1;
}