<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="src/blackhole.css">
    <script src="src/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- :style="{width:this.appWidth + 'px',height:this.appHeight + 'px'}" -->
    <div id="app">
        <p class="controller">
            <span class="start" @click="start">第一步点开始</span>
            <span class="ballautorun" @click="autorun">自动</span>
        </p>

        <div id="app-box" ref="box" @mousedown="persondown" @mousemove="personmove" @mouseup="personup">
            <div class="bg"></div>
            <div class="food">

                <span v-for="(item,index) in foodList" v-if="item != null" :style="{width:item.width + 'px',height:item.height + 'px',left:item.left + 'px',top:item.top + 'px',background:item.bgColor}">
                </span>

            </div>
            <div class="action">

                <div class="person" :style="{width:person.width + 'px',height:person.height  + 'px',background:person.bgColor,left:person.left + 'px',top:person.top  + 'px'}"></div>

            </div>

        </div>
    </div>

</body>

</html>
<script src="eatFood.js"></script>